<% if comment.recipient_ID == pageID  && comment.comment_date.to_date.to_s == date %>
    <% unless !comment.persisted? %>
        <div class="card">
            <div class="card-body">
                <header style="font-size:20px">
                    <%= "From: " + comment.commenter %>
                </header>
                <%= comment.body %>
                <footer style="font-size:12px">
                    <%= "Posted on " + comment.comment_time.strftime("%b %d, %Y") + comment.comment_time.strftime(" at %-I:%M %p") %>
                </footer>
            </div>
        </div>
    <% end %>
<% end %>