<!DOCTYPE html>
<html>

<head>
    <h3>Find Your Happy</h3>
</head>

<body>
    <div class="container">
        <div class="row">

    <% @displayed_questions.each do |displayed_question| %>
        <div class="col">
            <label for="exampleFormControlInput1" class="form-label"><%= displayed_question.question %></label>
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    <% end %>

</body>

</html>